@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=DM+Sans:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sora: 'Sora', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
}

/* VARIABLES */
:root {
  --primary: #002045;
  --secondary: #0061a5;
  --tertiary: #4f2e00;

  --surface: #f7f9fb;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f2f4f6;

  --on-surface: #191c1e;
  --on-surface-variant: #43474e;
  --on-primary: #ffffff;
  --outline-variant: #c4c6cf;
}

/* RESET */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--surface);
  color: var(--on-surface);
}

/* TIPOGRAFÍA */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  letter-spacing: -0.02em;
}